<h1>Listing annotations</h1>

<table>
  <thead>
    <tr>
      <th>Point</th>
      <th>Top</th>
      <th>Left</th>
      <th>Note</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @annotations.each do |annotation| %>
      <tr>
        <td><%= annotation.point_id %></td>
        <td><%= annotation.top %></td>
        <td><%= annotation.left %></td>
        <td><%= annotation.note %></td>
        <td><%= annotation.url %></td>
        <td><%= link_to 'Show', annotation %></td>
        <td><%= link_to 'Edit', edit_annotation_path(annotation) %></td>
        <td><%= link_to 'Destroy', annotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Annotation', new_annotation_path %>
